USE [master]
GO
/****** Object:  Database [VtKantar]    Script Date: 7.04.2019 15:50:33 ******/
CREATE DATABASE [VtKantar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VtKantar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\VtKantar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VtKantar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\VtKantar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VtKantar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VtKantar]
GO
USE [VtKantar]
GO
/****** Object:  UserDefinedFunction [dbo].[FnkSoforIdBul]    Script Date: 7.04.2019 15:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FnkSoforIdBul](@Sofor varchar(40))
 returns tinyint
 begin
 declare @SoforId tinyint
 Select @SoforId=SoforId from TblSofor where Sofor=@Sofor
 return @SoforId
 end
GO
/****** Object:  UserDefinedFunction [dbo].[FnkUrunIdBul]    Script Date: 7.04.2019 15:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 Create function [dbo].[FnkUrunIdBul](@UrunAd varchar(30))
 returns tinyint
 begin
declare @UrunId tinyint
Select @UrunId=UrunId from TblUrun where UrunAd=@UrunAd
return @UrunId
 end
GO
/****** Object:  Table [dbo].[TblCalisan]    Script Date: 7.04.2019 15:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCalisan](
	[KulId] [tinyint] IDENTITY(1,1) NOT NULL,
	[CalisanAd] [varchar](30) NULL,
	[CalisanSoyad] [varchar](30) NULL,
	[KulAdi] [varchar](10) NULL,
	[Parola] [varchar](10) NULL,
 CONSTRAINT [PK_TblCalisan] PRIMARY KEY CLUSTERED 
(
	[KulId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblKayitlar]    Script Date: 7.04.2019 15:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblKayitlar](
	[IslemId] [int] IDENTITY(1,1) NOT NULL,
	[Plaka] [varchar](10) NULL,
	[SoforId] [tinyint] NULL,
	[KulId] [tinyint] NULL,
	[GirisTarihi] [date] NULL,
	[GirisSaati] [time](7) NULL,
	[GirisAgirlik] [int] NULL,
	[GirenUrun] [tinyint] NULL,
	[CikisAgirlik] [int] NULL,
	[UrunAgirlik] [int] NULL,
	[CikisTarihi] [date] NULL,
	[CikisSaat] [time](7) NULL,
	[CikanUrun] [tinyint] NULL,
	[Durum] [bit] NULL,
 CONSTRAINT [PK_TblKayitlar] PRIMARY KEY CLUSTERED 
(
	[IslemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblSofor]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSofor](
	[SoforId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Sofor] [varchar](40) NULL,
 CONSTRAINT [PK_TblSofor] PRIMARY KEY CLUSTERED 
(
	[SoforId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUrun]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUrun](
	[UrunId] [tinyint] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](30) NULL,
 CONSTRAINT [PK_TblUrun] PRIMARY KEY CLUSTERED 
(
	[UrunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblCalisan] ON 

INSERT [dbo].[TblCalisan] ([KulId], [CalisanAd], [CalisanSoyad], [KulAdi], [Parola]) VALUES (1, N'Uğur', N'Mamak', N'ugur', N'1632')
INSERT [dbo].[TblCalisan] ([KulId], [CalisanAd], [CalisanSoyad], [KulAdi], [Parola]) VALUES (2, N'Eyüp Can', N'Doğan', N'eyup', N'1234')
SET IDENTITY_INSERT [dbo].[TblCalisan] OFF
SET IDENTITY_INSERT [dbo].[TblKayitlar] ON 

INSERT [dbo].[TblKayitlar] ([IslemId], [Plaka], [SoforId], [KulId], [GirisTarihi], [GirisSaati], [GirisAgirlik], [GirenUrun], [CikisAgirlik], [UrunAgirlik], [CikisTarihi], [CikisSaat], [CikanUrun], [Durum]) VALUES (1, N'34 fgs 45', 1, 1, CAST(N'2019-03-06' AS Date), CAST(N'17:18:00' AS Time), 2343, 1, 8530, 6187, CAST(N'2019-04-07' AS Date), CAST(N'11:16:00' AS Time), 5, 1)
INSERT [dbo].[TblKayitlar] ([IslemId], [Plaka], [SoforId], [KulId], [GirisTarihi], [GirisSaati], [GirisAgirlik], [GirenUrun], [CikisAgirlik], [UrunAgirlik], [CikisTarihi], [CikisSaat], [CikanUrun], [Durum]) VALUES (2, N'76 ıgr 43', 2, 1, CAST(N'2019-02-25' AS Date), CAST(N'17:21:00' AS Time), 2391, 3, 7549, 5158, CAST(N'2019-02-27' AS Date), CAST(N'11:16:00' AS Time), 14, 1)
INSERT [dbo].[TblKayitlar] ([IslemId], [Plaka], [SoforId], [KulId], [GirisTarihi], [GirisSaati], [GirisAgirlik], [GirenUrun], [CikisAgirlik], [UrunAgirlik], [CikisTarihi], [CikisSaat], [CikanUrun], [Durum]) VALUES (3, N'36 ygs 73', 3, 1, CAST(N'2019-01-30' AS Date), CAST(N'17:22:00' AS Time), 2196, 1, 2531, 335, CAST(N'2019-02-03' AS Date), CAST(N'21:24:00' AS Time), 5, 1)
SET IDENTITY_INSERT [dbo].[TblKayitlar] OFF
SET IDENTITY_INSERT [dbo].[TblSofor] ON 

INSERT [dbo].[TblSofor] ([SoforId], [Sofor]) VALUES (1, N'mehmet gezer')
INSERT [dbo].[TblSofor] ([SoforId], [Sofor]) VALUES (2, N'selim yavuzoğlu')
INSERT [dbo].[TblSofor] ([SoforId], [Sofor]) VALUES (3, N'Abdullah Görgü')
SET IDENTITY_INSERT [dbo].[TblSofor] OFF
SET IDENTITY_INSERT [dbo].[TblUrun] ON 

INSERT [dbo].[TblUrun] ([UrunId], [UrunAd]) VALUES (1, N'Boş Araç')
INSERT [dbo].[TblUrun] ([UrunId], [UrunAd]) VALUES (2, N'Çıkış Yapılmadı')
INSERT [dbo].[TblUrun] ([UrunId], [UrunAd]) VALUES (3, N'patates')
SET IDENTITY_INSERT [dbo].[TblUrun] OFF
/****** Object:  StoredProcedure [dbo].[PrcAracSayisi]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcAracSayisi] as begin
Select COUNT(*)   from TblKayitlar where durum=0
 end
GO
/****** Object:  StoredProcedure [dbo].[PrcDurumFiltre]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PrcDurumFiltre](@Durum bit) as begin
Select tk.IslemId,tk.Plaka,ts.Sofor as 'Şoför',tk.GirisTarihi,tk.GirisSaati,tblu.UrunAd as 'Giren Ürün',tu.UrunAd as 'Çıkan Ürün',tk.GirisAgirlik,tk.CikisAgirlik,tk.UrunAgirlik,tk.CikisTarihi,tk.CikisSaat,tc.CalisanAd+' '+tc.CalisanSoyad as 'Kayıt Eden'
from TblKayitlar tk join TblSofor ts on tk.SoforId = ts.SoforId 
join TblCalisan tc on tc.KulId = tk.KulId join TblUrun tu on tu.UrunId = tk.CikanUrun  
join TblUrun tblu on tblu.UrunId = tk.GirenUrun
where Durum=@Durum
end
GO
/****** Object:  StoredProcedure [dbo].[PrcPlakaFiltre]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcPlakaFiltre](@Plaka varchar(10)) as 
begin
set @Plaka=@Plaka+'%'
Select tk.IslemId,tk.Plaka,ts.Sofor as 'Şoför',tk.GirisTarihi,tk.GirisSaati,tblu.UrunAd as 'Giren Ürün',tu.UrunAd as 'Çıkan Ürün',tk.GirisAgirlik,tk.CikisAgirlik,tk.UrunAgirlik,tk.CikisTarihi,tk.CikisSaat,tc.CalisanAd+' '+tc.CalisanSoyad as 'Kayıt Eden'
from TblKayitlar tk join TblSofor ts on tk.SoforId = ts.SoforId
 join TblCalisan tc on tc.KulId = tk.KulId join 
 TblUrun tu on tu.UrunId=tk.CikanUrun 
 join TblUrun tblu on tblu.UrunId=tk.GirenUrun 
 where tk.Plaka like @Plaka
 end
GO
/****** Object:  StoredProcedure [dbo].[PrcSoforFiltre]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcSoforFiltre](@Sofor varchar(40)) as begin
 set @Sofor=@Sofor+'%'
Select tk.IslemId,tk.Plaka,ts.Sofor as 'Şoför',tk.GirisTarihi,tk.GirisSaati,tblu.UrunAd as 'Giren Ürün',tu.UrunAd as 'Çıkan Ürün',tk.GirisAgirlik,tk.CikisAgirlik,tk.UrunAgirlik,tk.CikisTarihi,tk.CikisSaat,tc.CalisanAd+' '+tc.CalisanSoyad as 'Kayıt Eden'
from TblKayitlar tk join TblSofor ts on tk.SoforId = ts.SoforId
 join TblCalisan tc on tc.KulId = tk.KulId join 
 TblUrun tu on tu.UrunId=tk.CikanUrun 
 join TblUrun tblu on tblu.UrunId=tk.GirenUrun
  where ts.Sofor like @Sofor
 end
GO
/****** Object:  StoredProcedure [dbo].[PrcTarihRapor]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcTarihRapor] (@Tarih1 date,@Tarih2 date)as begin
Select tk.IslemId,tk.Plaka,ts.Sofor as 'Şoför',tk.GirisTarihi,tk.GirisSaati,tblu.UrunAd as 'Giren Ürün',tu.UrunAd as 'Çıkan Ürün',tk.GirisAgirlik,tk.CikisAgirlik,tk.UrunAgirlik,tk.CikisTarihi,tk.CikisSaat,tc.CalisanAd+' '+tc.CalisanSoyad as 'Kayıt Eden'
from TblKayitlar tk join TblSofor ts on tk.SoforId = ts.SoforId
 join TblCalisan tc on tc.KulId = tk.KulId join 
 TblUrun tu on tu.UrunId=tk.CikanUrun 
 join TblUrun tblu on tblu.UrunId=tk.GirenUrun 
 where tk.GirisTarihi between @Tarih1 and @Tarih2
end
GO
/****** Object:  StoredProcedure [dbo].[PrcTblCalisanSelect]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcTblCalisanSelect](@KulAdi varchar(10),@Parola varchar(10)) as begin
--Select COUNT(*) from TblCalisan where KulAdi=@KulAdi and Parola=@Parola
select COUNT(*),KulId from TblCalisan where KulAdi=@KulAdi and Parola=@Parola
group by KulId
end
GO
/****** Object:  StoredProcedure [dbo].[PrcTblKayitlarInsert]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcTblKayitlarInsert]
 (@Plaka varchar(10),
 @Sofor varchar(40),
 @KulId tinyint,
 @GirisAgirlik int,
 @UrunAd varchar(30),
 @Durum bit
 ) as begin 


 declare @GirisTarihi date;
declare @GirisSaati time(7);
SELECT @GirisSaati=CONVERT(VARCHAR(5),GETDATE(),108) 
SELECT @GirisTarihi=CONVERT(date, GETDATE(), 120) 

   Declare @UrunId tinyint
  Select @UrunId=dbo.FnkUrunIdBul(@UrunAd)
  if(@UrunId is null)
  begin
  insert into TblUrun values(@UrunAd)
  Select @UrunId=dbo.FnkUrunIdBul(@UrunAd)
  end


Declare @SoforId tinyint /*bu değişken TblKayitlara eklemek için kullanılacak */
Select @SoforId=dbo.FnkSoforIdBul(@Sofor)
if(@SoforId is null)--eğer şoför kayıtlı değilse şoförü tblSofor  tablosuna ekler.
begin
 insert into TblSofor values(@Sofor)
 Select @SoforId=dbo.FnkSoforIdBul(@Sofor)
end
--Sadece  giriş işleminde kullanılacak sütünlara veri ekleme işlemi yaptık.
insert into TblKayitlar
(Plaka,SoforId,KulId,GirisTarihi,GirisSaati,GirisAgirlik,GirenUrun,Durum,CikanUrun) values
(@Plaka,@SoforId,@KulId,@GirisTarihi,@GirisSaati,@GirisAgirlik,@UrunId,0,2)
 end
GO
/****** Object:  StoredProcedure [dbo].[PrcTblKayitlarSelect]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcTblKayitlarSelect] as begin 
 Select tk.IslemId,tk.Plaka,ts.Sofor,tk.GirisTarihi,tk.CikisSaat,tc.CalisanAd,tc.CalisanSoyad,tk.GirisAgirlik,tk.Durum,tk.CikanUrun
 from TblKayitlar tk join TblSofor ts on tk.SoforId=ts.SoforId 
 join TblCalisan tc on tc.KulId=tk.KulId
 where Durum=0

 end
GO
/****** Object:  StoredProcedure [dbo].[PrcTblKayitlarUpdate]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[PrcTblKayitlarUpdate]
 (@IslemId int,
 @CikisAgirlik int,
 @UrunAgirlik int,
 @UrunAd varchar(30)
)
  as begin 

  declare @CikisTarih date;
declare  @CikisSaat time(7);
SELECT  @CikisSaat=CONVERT(VARCHAR(5),GETDATE(),108) 
SELECT @CikisTarih=CONVERT(date, GETDATE(), 120) 




  Declare @UrunId tinyint
  Select @UrunId=dbo.FnkUrunIdBul(@UrunAd)
  if(@UrunId is null)
  begin
  insert into TblUrun values(@UrunAd)
  Select @UrunId=dbo.FnkUrunIdBul(@UrunAd)
  end
  update TblKayitlar 
  set CikisAgirlik=@CikisAgirlik , UrunAgirlik=@UrunAgirlik , CikisTarihi=@CikisTarih,
  CikisSaat=@CikisSaat , CikanUrun=@UrunId , Durum=1
  where IslemId=@IslemId
 end
GO
/****** Object:  StoredProcedure [dbo].[PrcTblSoforInsert]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcTblSoforInsert](@Sofor varchar(40)) as begin
insert into TblSofor values(@Sofor)
end
GO
/****** Object:  StoredProcedure [dbo].[PrcTblSoforSelect]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PrcTblSoforSelect] as begin
Select * from TblSofor
end
GO
/****** Object:  StoredProcedure [dbo].[PrcTblUrunInsert]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[PrcTblUrunInsert](@UrunAd varchar(30)) as begin
insert into TblUrun values(@UrunAd)
end
GO
/****** Object:  StoredProcedure [dbo].[PrcTblUrunSelect]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcTblUrunSelect] as begin
select * from TblUrun where UrunAd!='Çıkış Yapılmadı'
end
GO
/****** Object:  StoredProcedure [dbo].[PrcTumKayitListele]    Script Date: 7.04.2019 15:50:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[PrcTumKayitListele] as begin
Select tk.IslemId,tk.Plaka,ts.Sofor as 'Şoför',tk.GirisTarihi,tk.GirisSaati,tblu.UrunAd as 'Giren Ürün',tu.UrunAd as 'Çıkan Ürün',tk.GirisAgirlik,tk.CikisAgirlik,tk.UrunAgirlik,tk.CikisTarihi,tk.CikisSaat,tc.CalisanAd+' '+tc.CalisanSoyad as 'Kayıt Eden'
from TblKayitlar tk join TblSofor ts on tk.SoforId = ts.SoforId 
join TblCalisan tc on tc.KulId = tk.KulId join TblUrun tu on tu.UrunId = tk.CikanUrun  
join TblUrun tblu on tblu.UrunId = tk.GirenUrun 
end
GO
USE [master]
GO
